body{
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

#canvas {
  height: 720px; 
  width: 720px; 
  /* background-color: darkorange; */
  margin: auto;
  border: solid black 2px;
  display: flex;
  flex-flow: row wrap;

}

.pixel:hover {
  background-color: black;  
}
